.mainbody{
	background-size:100%;
	background-image: url(backdrop.jpg);
	background-size:100% 100%;
	text-align:center;
}

.maindiv {
  position:relative;
  width:800;
  height:600;
  background-color:#ddf;
  border-radius: 20px;
  opacity:0.8;
  font-size:16px;
  text-align:center;
}

.tableheader{
	text-align:center;
	vertical-align:middle;
}

.tablebody{
	width:100%;
	height:100%;
	font-size:18px; 
	text-align:center;
	vertical-align:top;
}

.headerbutton{
  background-color: #fdd;
  border-radius: 10px;
  font-size:24px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.userbutton{
  background-color: #dfd;
  border-radius: 10px;
  font-size:20px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}