html {
  font-family: helvetica, sans-serif;
}

body {
  width: 70%;
  margin:auto;
  text-align:center;
  border-radius:20px;
}

.cowsay{
    resize:vertical;
	padding:10;
	font-size:14px;
	font-family:monospace;
	overflow-y: auto;
	text-align:left;
	width:410px;
	height:500px;
	background-color:#9a9a9a;
	color:#000000;
}
