#myUL {
list-style-type: none;
   padding: 0;
   margin: 0;
   width: 300px;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  font-family: ‘Noto Sans’, sans-serif;
}

#myUL li a:hover:not(.header) {
   background-color: #eee;
}

