.infobox {text-align:center;vertical-align:top;background-color: #ffd;border-radius: 10px;}
.scrollablediv {overflow-y:scroll;height:100%;}
.infoboxgreen {text-align:center;vertical-align:middle;background-color: #dfd;border-radius: 10px;}
.infoboxred {text-align:center;vertical-align:middle;background-color: #fdd;border-radius: 10px;}
.infoboxblue {text-align:center;vertical-align:middle;background-color: #ddf;border-radius: 10px;}

.buybutton{
  background-color: #dfd;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.sellbutton{
  background-color: #fdd;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.cancelbutton{
  background-color: #ccf;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}
