.scrollablediv {overflow-y:scroll;height:100%;}

.infobox {text-align:center;vertical-align:top;background-color: #ffd;border-radius: 10px;opacity:0.9;}

.infoboxgreen {text-align:center;vertical-align:middle;background-color: #dfd;border-radius: 10px;}
.infoboxgrey {text-align:center;vertical-align:middle;background-color: #ccc;border-radius: 10px;}
.infoboxpurple {text-align:center;vertical-align:middle;background-color: #fdf;border-radius: 10px;}
.infoboxred {text-align:center;vertical-align:middle;background-color: #fdd;border-radius: 10px;}
.infoboxblue {text-align:center;vertical-align:middle;background-color: #ddf;border-radius: 10px;}

.buybutton{
  background-color: #dfd;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.sellbutton{
  background-color: #fdd;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.cancelbutton{
  background-color: #ccf;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1.0;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #dfd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #dfd;
  cursor: pointer;
}