.buybutton{
  background-color: #dfd;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.sellbutton{
  background-color: #fdd;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.cancelbutton{
  background-color: #ccf;
  border-radius: 5px;
  font-size:14px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}
