.mainbody{
	background: url(../images/bluesea.jpg) no-repeat center center fixed;
	background-size:cover;
}

.maindiv {
  margin: auto;
  width:800;
  height:600;
  font-size:16px;
  text-align:center;
}

.mainpage {
  margin: auto;
  width:800;
  height:600;
  font-size:16px;
  text-align:center;
}

.tokenbutton{
  background-color: #dfd;
  border-radius: 10px;
  width:200;
  font-size:20px;
  font-weight:bold;
  font-family:monospace;
  outline: none;
}

.tokenrow{
	background-color: #fff;
	padding : 5px;
}

.createtablerow{
	background-color: #dfd;
	padding : 5px;
}

.createtableleft{
  vertical-align:top;
  text-align:right;
  width:150;
  font-size:18px;
  font-weight:bold;
  font-family:monospace;
  padding:10px;
}

.createtableright{
  vertical-align:top;
  text-align:left;
  font-size:14px;
  font-family:monospace;
  padding:10px;
}

.createtokenbutton{
  background-color: #ddddff;
  width:200;
  font-size:20px;
  font-weight:bold;
  font-family:monospace;
}